.songs-container {
  background-image: url("../../../public/images/andrea-de-santis-i2BcaGXomv0-unsplash.jpg");
  color: aliceblue;
}

.song-info-ul {
  display: flexbox;
  align-items: flex-start;
  text-align: left;
}

.individual-song-li {
  display: flexbox;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.8);
  border-radius: 10px;
}

li {
  display: flex;
  flex-direction: column;
  /* background-color: rgba(198,208,250,0); */
  align-items: center;
  font-family: interstate, sans-serif;
  font-style: italicnormal;
  font-weight: 100;
  text-align: center;
}

.individual-song-li:hover {
  background-color: rgba(0,0,0,0.3);
}
