.upload-song-div {
  background-color: rgba(206,234,245,96);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: interstate, sans-serif;
  font-style: italicnormal;
}

.upload-icon-outer-div {
  font-size: 30px
}
