.upload-song-div {
  background-color: rgba(206,234,245,0);
  background-image: url(../../../public/images/vinyluploadsong.webp);
  background-position: right;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: interstate, sans-serif;
  font-style: italicnormal;
  border-radius: 20px;
  padding: 20px;
}

.upload-icon-outer-div {
  font-size: 40px
}

.upload-song-button {
  border-radius: 10px;
  background-color: rgba(206,234,245,96);
}

.upload-h1 {
  background-color: rgba(206,234,245,0.7);
  box-shadow: 0px 5px 5px white;
}

.upload-modal {
  border-radius: 10px;
}
