li {
  display: flex;
  flex-direction: column;
  background-color: rgba(198,208,250,98);
  align-items: center;
  font-family: interstate, sans-serif;
  font-style: italicnormal;
  font-weight: 100;
  text-align: center;
}

.upload-song-modal {
  display: flex;
  justify-content: center;
}

.home-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: interstate, sans-serif;
  font-style: italicnormal;
  color: aliceblue;
  font-size: 32pt;
  /* background-color: rgba(175,196,222,87); */
  height: 600px;
  background-image: url("../../../public/images/andrea-de-santis-i2BcaGXomv0-unsplash.jpg");
  background-size: 100%;
}

.tech-used {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(198,208,250,98);
}

.song-info-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.individual-song-li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
