li {
  display: flex;
  flex-direction: column;
  background-color: rgba(198,208,250,98);
  align-items: center;
  font-family: interstate, sans-serif;
  font-style: italicnormal;
  font-weight: 100;
  text-align: center;
}

.home-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: interstate, sans-serif;
  font-style: italicnormal;
  color: aliceblue;
  font-size: 32pt;
  /* background-color: rgba(175,196,222,87); */
  height: 600px;
  background-image: url("../../../public/images/andrea-de-santis-i2BcaGXomv0-unsplash.jpg");
  background-size: 100%;
}
