.edit-song-div {
  background-color: rgba(206,234,245,96);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-song-button {
  background-color: rgba(0,0,0,0);
  border-radius: 10px;
  color:aliceblue
}
