.edit-song-div {
  background-color: rgba(206,234,245,0);
  background-image: url(../../../public/images/editsongbg.webp);
  background-size: 100%;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  font-family: interstate, sans-serif;
  font-style: italicnormal;
  color: aliceblue;
  border-radius: 20px;
  padding: 20px;
}

.edit-song-button {
  background-color: rgba(0,0,0,0);
  border-radius: 10px;
  color:aliceblue;
  text-align: center;
}

.edit-song-form {
  text-align: center;
  color: aliceblue;
}

.edit-song-h1 {
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
}

input {
  border-radius: 10px;
  padding: 3px;
}
