.signup-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(198,250,237,0);
  /* background-image: url(../../../public/images/andrea-de-santis-i2BcaGXomv0-unsplash.jpg); */
  align-items: center;
  font-family: interstate, sans-serif;
  font-style: italicnormal;
  font-weight: 100;
  text-align: center;
  color: aliceblue;
  height: 600px;
}

.signup-button {
  display: flex;
  background-color: rgba(175,221,222,0);
  width: 23.6%;
  justify-content: center;
  align-items: center;
  font-family: interstate, sans-serif;
  font-style: italicnormal;
  font-weight: 100;
  border-radius: 10px;
  color: aliceblue;
}

.signup-form-h1 {
  display: flex;
  justify-content: center;
  font-family: interstate, sans-serif;
  font-style: italicnormal;
  background-color: rgba(175,221,222,0);
  color: aliceblue;
}

.sign-up-page-container {
  background-image: url(../../../public/images/andrea-de-santis-i2BcaGXomv0-unsplash.jpg);
  background-size: 140%;
}
