.individual-songs-page-container {
  background-image: url("../../../public/images/andrea-de-santis-i2BcaGXomv0-unsplash.jpg");
  color: aliceblue;
}

.song-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.individual-song-li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
