.individual-songs-page-container {
  background-image: url("../../../public/images/andrea-de-santis-i2BcaGXomv0-unsplash.jpg");
  background-size: 180%;
  background-position: left;
  color: aliceblue;
  height: auto;
}

.song-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.individual-song-li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* THIS IS HOW I CAN LEFT-ALIGN SONGINFO */
}

.individual-comment-li {
  display: flexbox;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.8);
  border-radius: 10px;
  background-color: rgba(0,0,0,0.5);
}

.delete-song-button {
  background-color: rgba(0,0,0,0);
  border-radius: 10px;
  color:aliceblue
}
